<a href="https://colab.research.google.com/github/n-prathyusha82/pyramids_python/blob/main/python_day4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**1.Given three arrays,arr1,arr2,arr3,you need to calculate the following:
1.Count the number of elements that are present in arr1 but not in arr2 and arr3
2.count the number of elements that are present in arr2 but not in arr1 and arr3.
3.count the number of elements that are present in arr3 but not in arr1 and arr2.**

In [1]:
def count_numbers(arr1,arr2,arr3):
  s1 = set(arr1)
  s2 = set(arr2)
  s3 = set(arr3)
  return len(s1 - s2 - s3), len(s2 - s1 - s3), len(s3 - s1 - s2)
arr1 = [1,2,3,4,5]
arr2 = [2,3,4,5,6]
arr3 = [3,4,5,6,7]
print(count_numbers(arr1,arr2,arr3))

(1, 0, 1)

**2.You are given a number n.Your task is the number is prefect sums in the range 1-N.
A number is called a perfect sum it can be expressed as the sum of perfect square and perfect cube.
For eg. For n  =9, 2^3+1^2=9
i/p:N=5
o/p:2
1^2+1^3=2;
1^3+2^2=5**

In [2]:
def count_perfect_sums(N):
    count = 0
    for i in range(1, int(N**0.5) + 1):
        for j in range(1, int(N**(1/3)) + 1):
            if i**2 + j**3 <= N:
                count += 1
    return count
N = 5
print(count_perfect_sums(N))

2

**3.Given a number N.The task is to reduce the given number N to 1 in the min number of steps.You can perform any one of the below operations in each step.operation 1: If the number is even then youcan divide the number by 2.
operation 2: If the number is odd then you are allowed to performer their (n+1)or (n-1).
You need to print the min number of steps are required to reduce hte number N to 1 by performing the above operations.
ex: i/p:n=15
o/p:5
15 is odd 15+1=16
16 is even 16/2=8
8 is even 8/2=4
4 is even 4/2=2
2 is even 2/2=1**

In [ ]:
def minnumberofsteps(n):
  count = 0
  while n > 1:
    if n % 2 == 0:
      n // 2
    else:
      n -1 if n % 4 == 0 or n == 3 else n + 1
    count += 1
  return count
n = 15
print(minnumberofsteps(n))

**4.Given an array containing N elements.Each element is either 0 or 5.Find the largest number divisible by 90 that can be made using any number of elements of this array and arranging them in any way. i/p1: arr[] = {5,5,5,5,5,5,5,5,0,5,5} o/p:5555555550**

In [ ]:
def largestnumber(arr):
  count_0 = arr.count(0)
  count_5 = arr.count(5)
  if count_0 == 0:
    return "0"
  count_5 = (count_5 // 9) * 9
  if count_5 == 0:
    return "0"
  return "5" * count_5 + "0" * count_0
arr = [5, 5, 5, 5, 5, 5, 5, 5, 0, 5, 5]
print(largestnumber(arr))

**5.Given a number n, write a function that returns count of numbers from 1 to n that don't digit 3 in their decimal representation. ex- i/p: n = 10 o/p: 9 i/p2: n:45 o/p: 31 //numbers 31,13,23,30,31,32,33,34,35,36,37,39,43 contain digit 3.**

In [ ]:
def decimalrepresentation(n):
  count = 0
  for i in range(1, n+1):
    if '3' not in str(i):
      count += 1
  return count
print(decimalrepresentation(45))

**6.Maximum Chocolates Problem Statement: You are given an array of chocolate prices. If the price is divisible by 5, itâ€™s free. Find the maximum number of chocolates a person can buy.**

In [ ]:
def max_chocolates(prices):
  count = 0
  for price in prices:
    if price % 5 == 0:
      count += 1
    else:
      count += 1
  return count
prices = [2, 42, 12, 35, 23]
print(max_chocolates(prices))