<a href="https://colab.research.google.com/github/n-prathyusha82/pyramids_python/blob/main/python_day2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
n = 5
for i in range(n):
  for j in range(i,n):
    print(" ",end=" ")
  for j in range(i):
    print("*",end=" ")
  for j in range(i+1):
    print("*",end=" ")
  print()

          *
        * * *
      * * * * *
    * * * * * * *
  * * * * * * * * *

In [ ]:
n = 5
for i in range(n):
  for j in range(i+1):
    print(" ",end=" ")
  for j in range(i,n-1):
    print("*",end=" ")
  for j in range(i,n):
    print("*",end=" ")
  print()

  * * * * * * * * *
    * * * * * * *
      * * * * *
        * * *
          *

In [ ]:
n = 5
for i in range(n):
  for j in range(i,n):
    print(" ",end=" ")
  for j in range(i):
    print("*",end=" ")
  for j in range(i+1):
    print("*",end=" ")
  print()
for i in range(n):
  for j in range(i+1):
    print(" ",end=" ")
  for j in range(i,n-1):
    print("*",end=" ")
  for j in range(i,n):
    print("*",end=" ")
  print()

          *
        * * *
      * * * * *
    * * * * * * *
  * * * * * * * * *
  * * * * * * * * *
    * * * * * * *
      * * * * *
        * * *
          *

In [ ]:
n = 5
for i in range(n):
  for j in range(i+1):
    print("1",end=" ")
  print()

1
1 1
1 1 1
1 1 1 1
1 1 1 1 1

In [ ]:
n = 4
p = 1
for i in range(n):
  for j in range(i+1):
    print(p,end=" ")
    p+=1
  print()

1
2 3
4 5 6
7 8 9 10

In [ ]:
n = 5
p = 1
for i in range(n):
  for j in range(i+1):
    print(p,end=" ")
  p+=1
  print()

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [ ]:
n = 5
p = n
for i in range(n):
  for j in range(i+1):
    print(p,end=" ")
  p-=1
  print()

5
4 4
3 3 3
2 2 2 2
1 1 1 1 1

In [ ]:
n = 5
for i in range(n):
  p = 1
  for j in range(i+1):
    print(p,end=" ")
    p+=1
  print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [ ]:
n = 5
for i in range(n):
  p = n
  for j in range(i+1):
    print(p,end=" ")
    p-=1
  print()

5
5 4
5 4 3
5 4 3 2
5 4 3 2 1

In [ ]:
n = 5
for i in range(n):
  p = n
  for j in range(i+1):
    print(p,end=" ")
  p-=1
  print()

5
5 5
5 5 5
5 5 5 5
5 5 5 5 5

In [ ]:
n = 5
p = 0
for i in range(n):
  for j in range(i+1):
    print(p,end=" ")
  p+=2
  print()

0
2 2
4 4 4
6 6 6 6
8 8 8 8 8

In [ ]:
n = 5
p = 0
for i in range(n):
  for j in range(i+1):
    print(p,end=" ")
    p+=2
  print()

0
2 4
6 8 10
12 14 16 18
20 22 24 26 28

In [2]:
n = 5
p = 2
count = 0
def is_prime(x):
    if x <= 1:
        return False
    for i in range(2, int(x**0.5) + 1):
        if x % i == 0:
            return False
    return True
for i in range(n):
    for j in range(i+1):
        while not is_prime(p):
            p += 1
        print(p,end=" ")
        p += 1
    print()

2
3 5
7 11 13
17 19 23 29
31 37 41 43 47

In [ ]:
n = 5
for i in range(n):
  for j in range(i+1):
    if(i%2==0):
      print("1",end=" ")
    else:
      print("2",end=" ")
  print()

1
2 2
1 1 1
2 2 2 2
1 1 1 1 1

In [ ]:
n = 5
for i in range(n):
  for j in range(i+1):
    if(j%2==0):
      print("1",end=" ")
    else:
      print("2",end=" ")
  print()

1
1 2
1 2 1
1 2 1 2
1 2 1 2 1

In [ ]:
n = 5
for i in range(n):
  p = n
  for j in range(i+1):
    print(" ",end=" ")
  for j in range(i,n):
    print(p,end=" ")
    p-=1
  print()

  5 4 3 2 1
    5 4 3 2
      5 4 3
        5 4
          5